@model RecordStore.Data.EF.Artist

@{
    ViewBag.Title = "Delete Artist: " + Model.ArtistName;
}

<div id="rrWrapper">
    <h2>@ViewBag.Title</h2>
    <br />
    <div>
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.ArtistName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ArtistName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.IsStillActive)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.IsStillActive)
            </dd>

        </dl>

        <h4 style="color: red;">Are you sure you want to delete @Model.ArtistName?</h4>
        <br />
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete Artist" class="btn btn-dark" /> &nbsp;
                @Html.ActionLink("Cancel", "Index", "Artist", null, new { @class = "btn btn-dark" })
            </div>
        }
    </div>
</div>