
<ul class="nav navbar-nav navbar-right">
    <li>@Html.ActionLink("Albums", "Index", "Album")</li>
    <hr />
    <li>@Html.ActionLink("Artists", "Index", "Artist")</li>
    <hr />
    <li>@Html.ActionLink("Labels", "Index", "Label")</li>
    <hr />
    <li>@Html.ActionLink("Formats", "Index", "Format")</li>
    <hr />
    <li>@Html.ActionLink("Genres", "Index", "Genre")</li>
    <hr />
    <li>@Html.ActionLink("Recordings", "Index", "Recording")</li>
    <hr />
    <li>@Html.ActionLink("Audio Channels", "Index", "Channel")</li>
    <hr />
    <li>@Html.ActionLink("Departments", "Index", "Department")</li>
    <hr />
    <li>@Html.ActionLink("Employees", "Index", "Employee")</li>
</ul>
