@model RecordStore.Data.EF.Genre

@{
    ViewBag.Title = "Delete Genre: " + Model.GenreName;
}

<div id="rrWrapper">
    <h2>@ViewBag.Title</h2>
    <br />
    <div>
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.GenreName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.GenreName)
            </dd>

        </dl>
        <h4 style="color: red;">Are you sure you want to delete @Model.GenreName?</h4>
        <br />
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete Genre" class="btn btn-dark" />&nbsp;
                @Html.ActionLink("Cancel", "Index", "Genre", null, new { @class = "btn btn-dark" })
            </div>
        }
    </div>
</div>