@model RecordStore.Data.EF.Genre

@{
    ViewBag.Title = "Delete Genre: " + Model.GenreName;
}

<div id="rrWrapper">
    <h2 class="text-center mb-4">@ViewBag.Title</h2>
    <div>
        <dl class="dl-horizontal text-center">
            <dt>
                @Html.DisplayNameFor(model => model.GenreName)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.GenreName)
            </dd>
        </dl>
        <h4 class="text-danger text-center pb-4">Are you sure you want to delete <span class="font-italic">@Model.GenreName</span>?</h4>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

        <div class="form-actions no-color text-center m-auto">
            <input type="submit" value="Yes" class="btn btn-dark" />
            <a href="javascript:void(0);" onclick="history.go(-1);" class="btn btn-dark">No</a>
            @*@Html.ActionLink("No", "Index", "Genre", null, new { @class = "btn btn-dark" })*@
        </div>
        }
    </div>
</div>