@model RecordStore.Data.EF.Label

@{
    ViewBag.Title = "Delete Label: " + Model.LabelName;
}

<div id="rrWrapper">
    <h2 class="text-center">@ViewBag.Title</h2>
    <br />
    <div>
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.LabelName)
            </dt>
           <dd>
                @Html.DisplayFor(model => model.LabelName)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Country)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Country)
            </dd>
            <dt>
                @Html.DisplayFor(model => model.IsStillDistributing) &nbsp;&nbsp;
                @Html.DisplayNameFor(model => model.IsStillDistributing)
            </dt>
            <dd></dd>
        </dl>
        <h4 style="color: red;">Are you sure you want to delete @Model.LabelName?</h4>
        <br />

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete Label" class="btn btn-dark" /> &nbsp;
                @Html.ActionLink("Cancel", "Index", "Label", null, new { @class = "btn btn-dark" })
            </div>
        }
    </div>
</div>