@model RecordStore.Data.EF.Format

@{
    ViewBag.Title = "Album Format Details";
}

<div id="rrWrapper">

    <h2>@ViewBag.Title</h2>

    <div>
        <h4>Format</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.FormatType)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FormatType)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.MultiFormat)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.MultiFormat)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.FormatID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</div>