@model IEnumerable<RecordStore.Data.EF.Format>

@{
    ViewBag.Title = "Album Formats";
}

<div id="rrWrapper">

    <h2 class="text-center"> @ViewBag.Title</h2>
    <br />
    <table class="table" id="myTable">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.FormatType)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MultiFormat)
                </th>
                <th>
                    @Html.ActionLink("Add New Format", "Create")
                    @*<a href="" class="FormatCreate">Add New Format</a>*@
                </th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FormatType)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MultiFormat)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.FormatID }) |
                        @*<a href="" class="FormatEdit">Delete</a>*@
                        @Html.ActionLink("Delete", "Delete", new { id = item.FormatID })
                        @*<a href="" class="FormatDelete">Delete</a>*@
                    </td>
                </tr>
            }
        </tbody>
    </table>


    @* Placeholders for the creating, deleting, & editing Formats in a dialog box *@
    <div id="FormatCreate"></div>
    <div id="FormatDelete"></div>
    <div id="FormatEdit"></div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $(document).ready(function () {
            $('#myTable').DataTable();
        });
    </script>
}