@model RecordStore.Data.EF.Album

@{
    ViewBag.Title = "Delete Album: " + Model.AlbumName;
}

<div id="rrWrapper">
    <h2>@ViewBag.Title</h2>
    <br />

    <div class="row" style="padding-bottom:5em;">
        <div col-md-5>
            <img src="~/Content/assets/images/albumImages/@Model.AlbumImage" alt="@Model.AlbumName Cover" title="@Model.AlbumName Cover" id="albumArt" style="max-height:350px;"/>
        </div>

        <div col-md-5 style="padding-left:5em;">
            <dl class="dl-horizontal">

                <dt>
                    @Html.DisplayNameFor(model => model.AlbumName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.AlbumName)
                </dd>

                <dt>
                    Artist
                </dt>
                <dd>
                    @foreach (var artist in Model.AlbumArtist)
                    {
                        if (artist.PrimaryArtist != null)
                        {
                            if ((bool)artist.PrimaryArtist)
                            {
                                <div>
                                    @artist.Artist.ArtistName
                                </div>
                            }
                        }
                      }
                </dd>


                <dt>
                    @Html.DisplayNameFor(model => model.ReleaseYear)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ReleaseYear)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Label.LabelName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Label.LabelName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.CatalogNum)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.CatalogNum)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Format.FormatType)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Format.FormatType)
                </dd>
            </dl>
        </div>


    </div>

    <h4 style="color: red;">Are you sure you want to delete @Model.AlbumName?</h4>
    <br />
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete Album" class="btn btn-dark" />
            @Html.ActionLink("Cancel", "Index", "Album", null, new { @class = "btn btn-dark" })
        </div>
    }
</div>






