@model RecordStore.Data.EF.Album

@{
    ViewBag.Title = "Details | " + @Model.AlbumName;
}

<div id="rrWrapper">



    <div class="row">
        <div col-md-5>
            <img src="~/Content/assets/images/albumImages/@Model.AlbumImage" alt="@Model.AlbumName Cover" title="@Model.AlbumName Cover" id="albumArt" />
        </div>

        <div col-md-7 style="padding-left: 5em;">
            <dl class="dl-horizontal">
                <dd>
                    <h2>@Html.DisplayFor(model => model.AlbumName)</h2>
                </dd>
                <hr />
                <dd>
                    @* In a Details View, we have only passed a single Album object from the controller to this view.  When referencing the Album, we call  it with Model (* note, capital M)*@
                    @foreach (var artist in Model.AlbumArtist)
                    {
                        if (artist.PrimaryArtist != null)
                        {
                            if ((bool)artist.PrimaryArtist)
                            {
                                <div>
                                    <span style="font-weight: bold;">
                                        Artist@(Model.AlbumArtist.Count == 1 ? ":" : "s:" )
                                    </span>
                                    @artist.Artist.ArtistName
                                </div>
                            }
                        }
                    }

                    @* Create comma separated list Of non-primary Artists.  Add "feat." before list *@
                    <div style="word-wrap: normal;">
                        @if (Model.AlbumArtist.Count > 1)
                        {
                            <span>Featuring: </span>
                        }
                        @foreach (var artist in Model.AlbumArtist)
                        {
                            if ((bool)artist.PrimaryArtist == false)
                            {
                                if (Model.AlbumArtist.ToList().IndexOf(artist) == Model.AlbumArtist.Count - 2)
                                {
                                    @artist.Artist.ArtistName
                                }
                                else
                                {
                                    @artist.Artist.ArtistName<span>, </span>
                                }
                            }
                        }
                    </div>
                </dd>

                <dd>
                    <span style="font-weight: bold;">Year:&nbsp;&nbsp;</span>
                    @Html.DisplayFor(model => model.ReleaseYear)
                </dd>
                <dd>
                    <span style="font-weight: bold;">Year:&nbsp;&nbsp;</span>
                    @Html.DisplayFor(model => model.Year)
                </dd>
                <dd>
                    <span style="font-weight: bold;">Format:&nbsp;&nbsp;</span>
                    @Html.DisplayFor(model => model.Num) @Html.DisplayFor(model => model.Format.FormatType)@(Model.Num == 1 ? "" : "s"), @Html.DisplayFor(model => model.Tracks)
                    @(Model.Tracks == 1 ? "Track" : Model.Tracks > 1 ? "Tracks" : "tracks unknown" ) @*ternary operator to display track info*@
                </dd>
                <dd>
                    <span style="font-weight: bold;">Label:&nbsp;&nbsp;</span>
                    @Html.DisplayFor(model => model.Label.LabelName)
                </dd>
                <dd>
                    <span style="font-weight: bold;">Catalog No.:&nbsp;&nbsp;</span>
                    @Html.DisplayFor(model => model.CatalogNum)
                </dd>
                <hr />
                <dd>
                    <span style="font-weight: bold;">Status:&nbsp;&nbsp;</span>
                    @Html.DisplayFor(model => model.AlbumStatus.AlbumStatusName)
                </dd>
                <dd>
                    <span style="font-weight: bold;">Units In Stock:&nbsp;&nbsp;</span>
                    @Html.DisplayFor(model => model.UnitsInStock)
                </dd>
                <dd>
                    <span style="font-weight: bold;">Compilation:&nbsp;&nbsp;</span>
                    @Html.DisplayFor(model => model.CompilationAlbum)
                </dd>
                <dd>
                    <span style="font-weight: bold;">Still In Print:&nbsp;&nbsp;</span>
                    @Html.DisplayFor(model => model.IsInPrint)
                </dd>

                <hr />
                <dt>
                    @Html.DisplayNameFor(model => model.Description):
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Description)
                </dd>

                <hr />
                <dt>
                    @Html.DisplayNameFor(model => model.Price):
                </dt>

                <dd>
                    <h3> @Html.DisplayFor(model => model.Price)</h3>
                </dd>

            </dl>
        </div>
    </div>

    @* added this <p> for "Add To Cart" fuctionality *@
    <p>
        @using (Html.BeginForm("AddToCart", "Album", new { albumID = Model.AlbumID }, FormMethod.Post))
        {

            @Html.HiddenFor(a => a.AlbumID)
            <span class="label">Quantity: </span>
            @Html.TextBox("Qty", 1, new { @class = "form-control", @style = "max-width: 50px; display: inline;" })

            //if (Model.UnitsInStock >= qty) //only add to cart if requested quantity is in stock
            //{
            <input type="submit" value="Add To Cart" class="btn btn-dark" name="qty" />
            //}
            //else
            //{
            //    ViewBag.ErrorMessage = "Insufficient quantity in stock.  Please select a lower quanity, or choose a different title.";
            //}
        }

    </p>

    @Html.ActionLink("Back to Albums", "Index", "", new { @class = "btn btn-dark" })


    @if (User.IsInRole("Admin"))
    {
        <p>
            <span>Admin Functions: &nbsp;</span>
            @Html.ActionLink("Edit", "Edit", new { id = Model.AlbumID }) |
            @Html.ActionLink("Delete", "Delete", new { id = Model.AlbumID })
        </p>
    }
</div>
