@model IEnumerable<RecordStore.Data.EF.Album>

@{
    ViewBag.Title = "Albums";
}

<!-- Banner Starts Here -->
<div class="banner header-text">
    <div class="owl-banner owl-carousel">
        <div class="banner-item-01">
            <div class="text-content">
                <h4>Best Offer</h4>
                <h2>New Arrivals On Sale</h2>
            </div>
        </div>
        <div class="banner-item-02">
            <div class="text-content">
                <h4>Flash Deals</h4>
                <h2>Get your best products</h2>
            </div>
        </div>
        <div class="banner-item-03">
            <div class="text-content">
                <h4>Last Minute</h4>
                <h2>Grab last minute deals</h2>
            </div>
        </div>
    </div>
</div>
<!-- Banner Ends Here -->


<div id="rrWrapper">

    @if (User.IsInRole("Admin"))
    {
        @Html.ActionLink("Add A New Album", "Create","Album", null, new { @class = "btn btn-dark"})
        <br />
        <br />
    }


    @* we can only show the table if there are results, otherwise show text asking the use to try again *@

    @if (Model.Count() > 0)
    {
        <table class="table" id="myTable">
            <thead>
                <tr>
                    <th>
                        @*@Html.DisplayNameFor(model => model.FirstOrDefault().AlbumImage)*@
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FirstOrDefault().AlbumName)
                    </th>
                    <th>
                        Artist
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FirstOrDefault().ReleaseYear)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FirstOrDefault().Label.LabelName)
                    </th>
                    <th>
                        Genre(s)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FirstOrDefault().Format.FormatType)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FirstOrDefault().Price)
                    </th>

                    @if (User.IsInRole("Admin"))
                    {
                        <th></th>
                    }
                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @*@Html.DisplayFor(modelItem => item.AlbumImage)*@
                            <a href="@Url.Action("Details", new { id = item.AlbumID })">
                                <img src="~/Content/assets/images/albumImages/t_@item.AlbumImage" alt="@item.AlbumName cover" title="@item.AlbumName cover" id="albumArt" />
                            </a>
                        </td>
                        <td>
                            <a href="@Url.Action("Details", new { id = item.AlbumID })" style="font-weight:bold; color: black;">
                                @Html.DisplayFor(modelItem => item.AlbumName)
                            </a>
                        </td>
                        <td>
                            @foreach (var artist in item.AlbumArtist)
                            {
                                //only list primary artist in index listing
                                if (artist.PrimaryArtist == true)
                                {
                                    <span>
                                        @artist.Artist.ArtistName
                                    </span>
                                }
                            }
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ReleaseYear)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.Label.LabelName)
                        </td>
                        <td>
                            @foreach (var genre in item.AlbumGenre)
                            {
                                <ul>
                                    <li>@genre.Genre.GenreName</li>
                                </ul>
                            }
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Format.FormatType)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Price)
                        </td>

                        @if (User.IsInRole("Admin"))
                        {
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.AlbumID }) |
                                @Html.ActionLink("Details", "Details", new { id = item.AlbumID }) |
                                @Html.ActionLink("Delete", "Delete", new { id = item.AlbumID })
                            </td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p> Your search result did not return any results. Please try again or hit "Search" again to refresh.</p>
    }
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            $('#myTable').DataTable();
        });
    </script>
}
