@model IEnumerable<RecordStore.Data.EF.Department>

@{
    ViewBag.Title = "Departments";
}

<div id="rrWrapper">

    <h2 class="text-center">@ViewBag.Title</h2>
    <br />
    @Html.ActionLink("Create A New Department", "Create", null, new { @class = "btn btn-dark" })
    <br /><br />
    <table class="table" id="myTable">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.DepartmentName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DeptDescription)
                </th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.DepartmentName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DeptDescription)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.DepartmentID }) |
                        @Html.ActionLink("Details", "Details", new { id = item.DepartmentID }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.DepartmentID })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            $('#myTable').DataTable();
        });
    </script>
}