@model IEnumerable<RecordStore.Data.EF.Department>

@{
    ViewBag.Title = "Departments";
}

<div id="rrWrapper">
    <h2 class="text-center"> @ViewBag.Title</h2>
    <br />
    <table class="table" id="myTable">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.DepartmentName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DeptDescription)
                </th>
                <th>
                    @Html.ActionLink("Add New Department", "Create")
                    @*<a href="" class="DeptCreate">Add New Department</a>*@
                </th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.DepartmentName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DeptDescription)
                    </td>
                    <td>
                        @*<a href="" class="DeptEdit">Edit</a>*@
                        @Html.ActionLink("Edit", "Edit", new { id = item.DepartmentID }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.DepartmentID })
                        @*<a href="" class="DeptDelete">Delete</a>*@
                    </td>
                </tr>
            }
        </tbody>
    </table>

    @* Placeholders for the creating, deleting, & editing Departments in a dialog box *@
    <div id="DeptCreate"></div>
    <div id="DeptDelete"></div>
    <div id="DeptEdit"></div>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            $('#myTable').DataTable();
        });
    </script>
}