@model RecordStore.Data.EF.Department

@{
    ViewBag.Title = "Deptartment Details: " + Model.DepartmentName;
}
<div class="max600">
    <h2 class="text-center mb-3">@ViewBag.Title</h2>

    <div>
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.DepartmentName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DepartmentName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DeptDescription)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DeptDescription)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.DepartmentID }) |
        @Html.ActionLink("Delete", "Delete", new { id = Model.DepartmentID }) |
        <a href="javascript:void(0);" onclick="history.go(-1);" class="btn btn-dark">Return</a>
    </p>
</div>