@model RecordStore.Data.EF.Recording

@{
    ViewBag.Title = "Delete Recording: " + @Model.RecordingType;
}
<div id="rrWrapper">
    <div class="max600">
        <h2 class="text-center mb-5">@ViewBag.Title</h2>

        <dl class="dl-horizontal text-center m-auto">
            <dt>
                @Html.DisplayNameFor(model => model.RecordingType)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.RecordingType)
            </dd>
        </dl>

        <h4 class="text-danger text-center mb-5">Are you sure you want to delete <span class="font-italic">@Model.RecordingType</span>?</h4>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color text-center pt-1">
                <input type="submit" value="Yes" class="btn btn-dark" />
                <a href="javascript:void(0);" onclick="history.go(-1);" class="btn btn-dark">No</a>
                @*@Html.ActionLink("Cancel", "Index", "Recording", null, new { @class = "btn btn-dark" })*@
            </div>
        }
    </div>
</div>
