@model RecordStore.Data.EF.AlbumStatu

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>AlbumStatu</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AlbumStatusName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AlbumStatusName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StatusNotes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StatusNotes)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AlbumStatusID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
