@model IEnumerable<RecordStore.Data.EF.AlbumStatu>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AlbumStatusName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StatusNotes)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AlbumStatusName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StatusNotes)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.AlbumStatusID }) |
            @Html.ActionLink("Details", "Details", new { id=item.AlbumStatusID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.AlbumStatusID })
        </td>
    </tr>
}

</table>
